@model AppFerreteria.Models.Motosierra

@{
    ViewData["Title"] = "Create";
}

<body>
    <h1>Create</h1>

<h4>Motosierra</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodigoAlfanumericoMotosierra" class="control-label"></label>
                <input asp-for="CodigoAlfanumericoMotosierra" class="form-control" />
                <span asp-validation-for="CodigoAlfanumericoMotosierra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioMotosierra" class="control-label"></label>
                <input asp-for="PrecioMotosierra" class="form-control" />
                <span asp-validation-for="PrecioMotosierra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Codigodefabrica" class="control-label"></label>
                <input asp-for="Codigodefabrica" class="form-control" />
                <span asp-validation-for="Codigodefabrica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotosierraImg" class="control-label"></label>
                <input asp-for="MotosierraImg" class="form-control" type="file" />
                <span asp-validation-for="MotosierraImg" class="text-danger"></span>
            </div>
            @* <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EstaAlquilada" /> @Html.DisplayNameFor(model => model.EstaAlquilada)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isDeleted" /> @Html.DisplayNameFor(model => model.isDeleted)
                </label>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>


</body>