html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.FondoHome{
  background-image: url("../Imagen/AmarilloPastel.jpg");
  background-position: initial;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.FondoClientes{
  background-image: url("../Imagen/celestePast.jpg");
  background-position: initial;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.FondoMotosierras{
  background-image: url("../Imagen/arcoriris.jpg");
  background-position: initial;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.FondoRentals{
  background-image: url("../Imagen/verdePast.jpg");
  background-position: initial;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.FondoReturn{
  background-image: url("../Imagen/Degrade.jpg");
  background-position: initial;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}


.TituloIndex{
  font-size: 4em;
  text-shadow: 4px 3px 6px rgba(71, 71, 71, 0.541);
  text-align: center;
}
 
 .TituloEditCreate{
  text-align: center;
  font-size: 3em;
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 100px #fff,
    0 0 200px rgb(255, 255, 255),
    0 0 10px rgb(8, 32, 5),
    0 0 10px rgb(14, 36, 6),
    0 0 10px rgb(4, 84, 95),
    0 0 10px rgb(95, 4, 91),
    0 0 10px rgb(0, 17, 255);
}

.ImagenMotosierras{
  width: 60px;
  height: 60px;
}

.col-sm-2 {
  min-height: 1px;
  position: relative;
  color:  rgb(0, 0, 0);
}

.col-sm-10 {
  min-height: 3px;
  position: relative;
  color:  rgb(0, 0, 0);

}