html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.FondoHome{
  background-image: url("../Imagen/AmarilloPastel.jpg");
  background-position: initial;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100%;
}
.FondoClientes{
  background-image: url("../Imagen/celestePast.jpg");
  background-position: initial;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.FondoMotosierras{
  background-image: url("../Imagen/arcoriris.jpg");
  background-position: initial;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.FondoRentals{
  background-image: url("../Imagen/verdePast.jpg");
  background-position: initial;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.FondoReturn{
  background-image: url("../Imagen/Degrade.jpg");
  background-position: initial;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}


.TituloIndex{
  font-size: 4em;
  text-shadow: 4px 3px 6px rgba(71, 71, 71, 0.541);
  text-align: center;
}
 
 .TituloEditCreate{
  text-align: center;
  font-size: 3em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.ImagenMotosierras{
  width: 100px;
  height: 100px;
}

.col-sm-2 {
  min-height: 1px;
  position: relative;
  color:  rgb(0, 0, 0);
}

.col-sm-10 {
  min-height: 3px;
  position: relative;
  color:  rgb(0, 0, 0);

}

.TituloHome{
  font-size: 4em;
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.FondoLogin{
  background-image: url("../Imagen/AmarilloPastel.jpg");
  background-position: initial;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100%;
}

.logo{
  width: 700px;
  height: 300px;
  object-fit:cover ;
}

.PalabrasFormularios{
  font-family: 'Times New Roman', Times, serif;
   color: black;
    font-size: 1.1em;
}