@model AppFerreteria.Models.Return

@{
    ViewData["Title"] = "Devolución";
}

<body class="FondoReturn">
    

<h4 class="TituloEditCreate animate__animated animate__fadeInUpBig">Crear Devolución</h4>

<div class="row">
    <div class="col-md-4 PalabrasFormularios">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label"></label>
                <input asp-for="ReturnDate" class="form-control" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteID" class="control-label"></label>
                @* <select asp-for="ClienteID" class ="form-control" asp-items="ViewBag.ClienteID"></select> *@
                 @Html.DropDownList("ClienteID", null, htmlAttributes: new { @class = "form-control" })
            </div>
            @* <div class="form-group">
                <label asp-for="ClienteApellido" class="control-label"></label>
                <input asp-for="ClienteApellido" class="form-control" />
                <span asp-validation-for="ClienteApellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteName" class="control-label"></label>
                <input asp-for="ClienteName" class="form-control" />
                <span asp-validation-for="ClienteName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoAlfanumericoMotosierra" class="control-label"></label>
                <input asp-for="CodigoAlfanumericoMotosierra" class="form-control" />
                <span asp-validation-for="CodigoAlfanumericoMotosierra" class="text-danger"></span>
            </div> *@
            <div class="form-group">
               <label asp-for="MotosierraID" class="control-label"></label>
                @* <select asp-for="MotosierraID" class ="form-control" asp-items="ViewBag.MotosierraID"></select> *@
                @Html.DropDownList("MotosierraID", null, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div><br>
            @* <div class="form-group">
                <label asp-for="MontoTotal" class="control-label"></label>
                <input asp-for="MontoTotal" class="form-control" />
                <span asp-validation-for="MontoTotal" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div><br>

<div>
     <a asp-action="Index" class="btn btn-primary ">Volver a la lista</a>
</div>

</body>
