@model AppFerreteria.Models.Cliente

@{
    ViewData["Title"] = "Editar";
}

<body class="FondoClientes">
    <h1></h1>

<h4 class="TituloEditCreate animate__animated animate__rotateInDownLeft">Editar Cliente</h4>

<div class="row">
    <div class="col-md-4 PalabrasFormularios">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClienteID" />
            <div class="form-group">
                <label asp-for="ClienteName" class="control-label"></label>
                <input asp-for="ClienteName" oninput="validar(this)" class="form-control" onkeyup="this.value = this.value.toUpperCase()" />
                <span asp-validation-for="ClienteName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteApellido" class="control-label"></label>
                <input asp-for="ClienteApellido" oninput="validar(this)" class="form-control" onkeyup="this.value = this.value.toUpperCase()" />
                <span asp-validation-for="ClienteApellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientePhone" class="control-label"></label>
                <input asp-for="ClientePhone" class="form-control" onkeypress="return valideKey(event);" />
                <span asp-validation-for="ClientePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteDNI" class="control-label"></label>
                <input asp-for="ClienteDNI" class="form-control" onkeypress="return valideKey(event);" />
                <span asp-validation-for="ClienteDNI" class="text-danger"></span>
            </div><br>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div><br>

<div>
    <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
</div>

<script>
    const validar = function (campo) {
        let valor = campo.value;
// Verifica si el valor del campo (input) contiene numeros.
        if (/\d/.test(valor)) {
            /* 
             * Remueve los numeros que contiene el valor y lo establece
             * en el valor del campo (input).
             */
            campo.value = valor.replace(/\d/g, '');
        }
    };
</script>


</body>